<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentfunctionapp20220919121000.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3f62d2f5-1a61-463c-89ee-cad164c49345/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/PaymentFunctionApp20220919121000</ResourceId>
    <UserName>$PaymentFunctionApp20220919121000</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentfunctionapp20220919121000.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>